.listItem {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 376px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 14px;
  background-color: #fff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.listItem:not(:last-child) {
  margin-bottom: 14px;
}

.listItem span {
  display: block;
  width: 22px;
  height: 22px;
  margin-right: 14px;
  border-radius: 50%;
}

.offLine {
  background-color: #e64156;
}

.onLine {
  background-color: #75ab1e;
}

.listItem .avatar {
  margin-right: 16px;
}

.avatar {
  width: 92px;
  height: 92px;
  border-radius: 6px;
  overflow: hidden;
}
